$primary: #2196f3;
$XS: 320px;
$SM: 480px;
$MD: 768px;
$XL: 1170px;
@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}

.stepper-container {
  @include Responsive(SM) {
    max-width: 969px;
    box-sizing: border-box;
    margin: auto;
    padding: 16px;
  }
  @include Responsive(MD) {
    display: flex;
    justify-content: space-around;
  }
}
